.table-striped tr {
    color: #fff;
}
.table-striped thead tr {
    background-color: #232;
}
.table-striped tbody tr {
    cursor: pointer;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #94163f;
}
.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: #af163f;
}
.table-striped tbody tr:nth-of-type(even) {
    background-color: #FFCa5b;
    color: #232;
}
.table-striped tbody tr:nth-of-type(even):hover {
    background-color: #ffdc5b;
}