
.table-striped thead tr {
    background-color: #232;
    color: #fff;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #006bb6;
    color: #fff;
}
.table-striped tbody tr:nth-of-type(odd):hover {
    background-color: #0069aa;
}
.table-striped tbody tr {
    cursor: pointer;
}
.table-striped tbody tr:nth-last-of-type(odd) a {
    color: #fff;
}
.table-striped tbody tr:nth-last-of-type(even) a {
    color: #006bb6;
}